<template>
  <v-app id="inspire">
    <v-main class="grey lighten-3">
      <v-container>
        <v-col>
          <v-card
            elevation="2"
            outlined
            class="mx-auto
              my-12"
            max-width="374"
          >
            <v-col>
              <v-img
                :src="movie_object.poster_path"
                max-height="450px"
                max-width="300px"
                class="mx-auto"
              ></v-img>
            </v-col>

            <v-card-text>
              <v-row align="center" class="mx-0">
                <div class="headline mb-1">{{ movie_object.title }}</div>
                <div class="grey--text ms-4">
                  {{ movie_object.release_date }}
                </div>
              </v-row>

              <div class="my-4 subtitle-1">
                <v-badge
                  class="mb-2"
                  inline
                  :content="genre.name"
                  v-for="genre in movie_object.genres"
                  :key="genre.id"
                />
              </div>

              <div>
                {{ movie_object.overview }}
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Movie from "../models/Movie.js";
import apiService from "../services/api.service.js";

export default {
  data() {
    return {
      movie_object: null,
    };
  },
  mounted() {
    this.getMovie(this.$route.params.movie);
  },
  methods: {
    getMovie(idMovie) {
      apiService
        .getMovie(idMovie)
        .then((res) => {
          if (res.status == 200) {
            this.movie_object = new Movie(res.data);
          } else {
            alert("No movie");
          }
        })
        .catch(() => {
          alert("No movie");
        });
    },
  },
};
</script>

<style>
.center {
  display: inline;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}
</style>
