<template>
  <v-app>
    <v-app-bar color="indigo" dark fixed app>
      <v-app-bar-nav-icon to="/">
        <v-icon>mdi-camera-gopro</v-icon>
      </v-app-bar-nav-icon>
      <v-img
        class="mx-2"
        src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
        max-height="70"
        max-width="70"
        contain
      ></v-img>
      <v-toolbar-title></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn to="/popular">Más populares</v-btn>
        <v-btn to="/toprated">Mejor valoradas</v-btn>
      </v-toolbar-items>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",

  data: () => ({
    //
  }),
};
</script>
